@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


nav a{
    border: 1px dotted #212121;
    padding: 8px;
    margin: 8px;
    font-style: italic;
    font-weight: bold;
}
nav {
    margin: 8px;
    margin-top: 40px;
    margin-bottom: 40px;
}

table {
    width: 50%;
}
table tr td{
    border: 1px solid black;
}
table tr:first-child{    
    background-color: #212121;
    color: white;
}
td, th {padding: 8px;}
table td:last-child {
    background-color: red;
    color: white;
    font-style: italic;
    cursor: pointer;
}
table td:nth-child(4):hover {
    color: white;
    background-color: #212121;
}
table button {width: 100%;}
table td:last-child:hover {
    background-color: darkred;
}

form {
    border: 1px solid #212121;
    padding: 8px;
    width: 50%;
}
form div {
    margin: 8px;
    width: 100%;
}
form input {
    padding: 8px;
    outline: none;
    border-bottom: 1px solid #212121;
    width: 97%;
}
form  button{
    padding: 8px;
    margin: 8px;
    background-color: #212121;
    color: white;
    width: 95%;
}

